body {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
}

.instructions {
  width: 75%;
  margin-left: 5%;
}

.all-players {
  opacity: 75%;
  font-size: 48px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

#player1Text {
  position: absolute;
  top: 40%;
  height: 17vh;
  padding-left: 30%;
}

#player2Text {
  position: absolute;
  top: 40%;
  height: 17vh;
  padding-left: 30%;
}

#player3Text {
  position: absolute;
  top: 40%;
  height: 17vh;
  padding-left: 30%;
}

#player4Text {
  position: absolute;
  top: 40%;
  height: 17vh;
  padding-left: 30%;
}

#player5Text {
  position: absolute;
  top: 40%;
  height: 17vh;
  padding-left: 30%;
}

#player6Text {
  position: absolute;
  top: 40%;
  height: 17vh;
  padding-left: 30%;
}

#player7Text {
  position: absolute;
  top: 40%;
  height: 17vh;
  padding-left: 30%;
}

#player8Text {
  position: absolute;
  top: 40%;
  height: 17vh;
  padding-left: 30%;
}

#player9Text {
  position: absolute;
  top: 40%;
  height: 17vh;
  padding-left: 30%;
}

#player10Text {
  position: absolute;
  top: 40%;
  height: 17vh;
  padding-left: 30%;
}

#player11Text {
  position: absolute;
  top: 40%;
  height: 17vh;
  padding-left: 30%;
}

#player12Text {
  position: absolute;
  top: 40%;
  height: 17vh;
  padding-left: 30%;
}

#player1 {
  background-color: red;
  height: 33vh;
  width: 25vw;
  top: 0%;
  left: 0%;
  position: absolute;
  visibility: hidden;
}

#player2 {
  background-color: orange;
  height: 33vh;
  width: 25vw;
  top: 0%;
  left: 25%;
  position: absolute;
  visibility: hidden;
}

#player3 {
  background-color: yellow;
  height: 33vh;
  width: 25vw;
  top: 0%;
  left: 50%;
  position: absolute;
  visibility: hidden;
}

#player4 {
  background-color: green;
  height: 33vh;
  width: 25vw;
  top: 0%;
  left: 75%;
  position: absolute;
  visibility: hidden;
}

#player5 {
  background-color: blue;
  height: 33vh;
  width: 25vw;
  top: 33%;
  left: 0%;
  position: absolute;
  visibility: hidden;
}

#player6 {
  background-color: lavender;
  height: 33vh;
  width: 25vw;
  top: 33%;
  left: 25%;
  position: absolute;
  visibility: hidden;
}

#player7 {
  background-color: violet;
  height: 33vh;
  width: 25vw;
  top: 33%;
  left: 50%;
  position: absolute;
  visibility: hidden;
}

#player8 {
  background-color: gray;
  height: 33vh;
  width: 25vw;
  top: 33%;
  left: 75%;
  position: absolute;
  visibility: hidden;
}

#player9 {
  background-color: teal;
  height: 33vh;
  width: 25vw;
  top: 66%;
  left: 0%;
  position: absolute;
  visibility: hidden;
}

#player10 {
  background-color: pink;
  height: 33vh;
  width: 25vw;
  top: 66%;
  left: 25%;
  position: absolute;
  visibility: hidden;
}

#player11 {
  background-color: gold;
  height: 33vh;
  width: 25vw;
  top: 66%;
  left: 50%;
  position: absolute;
  visibility: hidden;
}

#player12 {
  background-color: silver;
  height: 33vh;
  width: 25vw;
  top: 66%;
  left: 75%;
  position: absolute;
  visibility: hidden;
}

/* @keyframes snare {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */
